
.vs/

Relatives/.idea/.idea.Relatives/.idea/

Relatives/bin/Debug/netcoreapp3.1/

Relatives/obj/Debug/netcoreapp3.1/

*.json

*.cache

*.props

*.targets

Relatives/obj/Release/netcoreapp3.1/

*.sln
